* {
    font-family: 'Epilogue', sans-serif;
}

body {
    background: #4ecca4;
}

h1 {
    position: absolute;
    margin:auto;
    bottom: 350px;
    right: 0;
    left: 840px;
    top: 0;
    color: white;
}

li {
    top :0;
    position: relative;
    display: inline-block;
    padding: 30px;
    padding-top: 30px;
    margin:auto;

}

.menu {
    color: white;
    background: black;
}

.chats {
    color: white;
    background: black;
}

.mi_cuenta {
    color: white;
    background: black;
}

.pagina_principal {
    color: white;
    background: black;
}

.input {
    color: white;
    background: black;
    padding: 29px;
    padding-bottom: 28px;
}

.img {
    position: absolute;
    margin:auto;
    bottom: 350px;
    right: 0;
    left: 0;
    top: 20px;
}

div {
    position: absolute;
    margin:auto;
    bottom: 0px;
    right: 0;
    left: 0;
    top: 500px;
}

.abajo {
    position: absolute;
    margin:auto;
    bottom: 0px;
    right: 0;
    left: 60px;
    top: 50;
}


.abajo2 {
    position: absolute;
    margin:auto;
    bottom: 0px;
    right: 0;
    left: 925px;
    top: 90;
}
.header{
    background: black;
    color: white;
    position:average;
    left: 0;
    top:0;
    right: 0;
    
}
.header a{
    color:aliceblue;
    text-decoration: none;
}
.divnav{
    
    position: inherit;
    display: flex;
    justify-content: right;
    align-items: center;
}


.navigation ul{
    margin: 10;
    list-style: none;

}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    padding: 0.5 1 rem;
    transition: all 0.4s linear;
    border: radius 5px;

}

.navigation ul li a{
    display: block;
    padding:0.5rem 1 rem;
    transition: all 0.4s linear;
    border-radius: 5px;
     }

.navigation ul li a:hover {
    background:black ;
}
.body{
    position: inherit;
    justify-content: space-between;
}
.startupname{
    
    display: flex;
    justify-content: left;
    align-items:center;
 }
 @media only screen and (max-width:767) {
 }