.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  width: 674px;
  height: 2853px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  opacity: 0.8999999761581421;
  position: absolute;
  inset: 0;
}
.green-pink-creative-colorful-illustration-mental-health-presentation-removebg-preview-1 {
  opacity: 0.8999999761581421;
  width: 1049.75px;
  height: 1036.89px;
  position: absolute;
  left: -199.94px;
  top: 277.68px;
  transform-origin: 0 0;
  transform: rotate(-44.472deg) scale(1, 1);
}
.green-pink-creative-colorful-illustration-mental-health-presentation-removebg-preview-2 {
  opacity: 0.8999999761581421;
  width: 1109.33px;
  height: 985.63px;
  position: absolute;
  left: 330.29px;
  top: 584px;
  transform-origin: 0 0;
  transform: rotate(34.009deg) scale(1, 1);
}
.green-pink-creative-colorful-illustration-mental-health-presentation-removebg-preview-12 {
  opacity: 0.8999999761581421;
  width: 1109.33px;
  height: 985.63px;
  position: absolute;
  left: 912.91px;
  top: 730.45px;
  transform-origin: 0 0;
  transform: rotate(133.66deg) scale(1, 1);
}
.green-pink-creative-colorful-illustration-mental-health-presentation-removebg-preview-3 {
  opacity: 0.8999999761581421;
  width: 1109.33px;
  height: 985.63px;
  position: absolute;
  left: 801.22px;
  top: 1499.23px;
  transform-origin: 0 0;
  transform: rotate(108.775deg) scale(1, 1);
}
.green-pink-creative-colorful-illustration-mental-health-presentation-removebg-preview-4 {
  opacity: 0.8999999761581421;
  width: 1109.33px;
  height: 985.63px;
  position: absolute;
  left: calc(50% - -58.16px);
  top: calc(50% - -312.5px);
  transform-origin: 0 0;
  transform: rotate(41.738deg) scale(1, 1);
}
.rectangle-2 {
  background: #399d7d;
  border-radius: 20px;
  width: 430px;
  height: 46px;
  position: absolute;
  left: 269px;
  top: 0px;
}
.rectangle-1 {
  background: #32896d;
  border-radius: 20px;
  width: 94px;
  height: 89px;
  position: absolute;
  left: 591px;
  top: 41px;
}
.log-in-sign-in {
  color: #000000;
  text-align: left;
  font: 400 22px/16px "Caladea", sans-serif;
  position: absolute;
  left: 607px;
  top: 57px;
  width: 72px;
  height: 56px;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 94.02px;
  height: 0px;
  position: absolute;
  left: 591px;
  top: 85px;
}
.rectangle-22 {
  background: #399d7d;
  border-radius: 20px;
  width: 720px;
  height: 151px;
  position: absolute;
  left: -28px;
  top: 2714px;
}
.group-15 {
  position: absolute;
  inset: 0;
}
.idioma {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 501px;
  top: 2743px;
  width: 152px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.patrocinadores {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 336px;
  top: 2747px;
  width: 152px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.afiliados {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 170px;
  top: 2747px;
  width: 152px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mental-comunity-2023-derechos-reservados {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 91px;
  top: 2807px;
  width: 545px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactanos {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 14px;
  top: 2743px;
  width: 152px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-play {
  width: 135px;
  height: 135px;
  position: absolute;
  left: 39px;
  top: 2037px;
}
.logo-png {
  width: 253px;
  height: 259px;
  position: absolute;
  left: 437px;
  top: 1978px;
}
.rectangle-9 {
  background: #4ecca3;
  border-radius: 30px;
  width: 473px;
  height: 263px;
  position: absolute;
  left: 99px;
  top: 2400px;
}
.group-10 {
  width: 473px;
  height: 61px;
  position: static;
}
.rectangle-11 {
  background: #ffffff;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 1px;
  width: 473px;
  height: 61px;
  position: absolute;
  left: 99px;
  top: 2422px;
}
.premium {
  color: #000000;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 120.61px;
  top: 2427.19px;
  width: 417.78px;
  height: 45.43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.es-el-unico-plan-que-estamos-ofreciendo-el-cobro-se-realizar-a-la-empresa-y-no-representa-un-gasto-mayor {
  color: #000000;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 154px;
  top: 2554px;
  width: 397px;
  height: 62px;
}
._20-cada-mes {
  color: #000000;
  text-align: left;
  font: 400 40px "Inter", sans-serif;
  position: absolute;
  left: 208px;
  top: 2487px;
  width: 305px;
  height: 41px;
}
.group-11 {
  width: 291px;
  height: 52px;
  position: static;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 54px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 248.64px;
  height: 52px;
  position: absolute;
  left: 217.26px;
  top: 2611px;
}
.obtener {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 197px;
  top: 2612.11px;
  width: 291px;
  height: 50.89px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-3 {
  width: 217px;
  height: 217px;
  position: absolute;
  left: 441px;
  top: 794px;
}
.desc-2 {
  width: 345px;
  height: 277px;
  position: absolute;
  left: 0px;
  top: 404px;
}
.desc-1 {
  width: 282px;
  height: 252px;
  position: absolute;
  left: 388px;
  top: 254px;
}
.app-store {
  width: 165px;
  height: 267px;
  position: absolute;
  left: 106px;
  top: 2133px;
}
.servicios {
  width: 58px;
  height: 19px;
  position: absolute;
  left: 285px;
  top: 16px;
}
.our-servies {
  color: #000000;
  text-align: left;
  font: 400 24px/16px "Caladea", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 81px;
  height: 19px;
}
.servicios2 {
  width: 88px;
  height: 19px;
  position: absolute;
  left: 369px;
  top: 16px;
}
.our-servies2 {
  color: #000000;
  text-align: left;
  font: 400 24px/16px "Caladea", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 122.9px;
  height: 19px;
}
.servicios3 {
  width: 58px;
  height: 19px;
  position: absolute;
  left: 586px;
  top: 16px;
}
.servicios4 {
  width: 77px;
  height: 19px;
  position: absolute;
  left: 483px;
  top: 16px;
}
.our-servies3 {
  color: #000000;
  text-align: left;
  font: 400 24px/16px "Caladea", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 107.53px;
  height: 19px;
}
.image-1 {
  width: 253px;
  height: 259px;
  position: absolute;
  left: -17px;
  top: -26px;
}
.group-4 {
  width: 395.76px;
  height: 153.95px;
  position: static;
}
.titulo {
  color: #000000;
  text-align: center;
  font: 600 64px "Inter", sans-serif;
  position: absolute;
  left: 3.76px;
  top: 207px;
  transform-origin: 0 0;
  transform: rotate(1.4deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.mental-comunity-se-enfoca-en-los-trabajadores-que-no-tienen-la-oportunidad-de-conversar-con-un-psic-logo {
  color: #000000;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 334px;
  top: 542px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features {
  color: #000000;
  text-align: center;
  font: 600 48px "Inter", sans-serif;
  position: absolute;
  left: 199px;
  top: 701px;
  width: 289px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us {
  color: #000000;
  text-align: center;
  font: 600 48px "Inter", sans-serif;
  position: absolute;
  left: 194px;
  top: 1334px;
  width: 289px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-1 {
  width: 203.38px;
  height: 217px;
  position: absolute;
  left: 33px;
  top: 803px;
}
.feature-2 {
  width: 205px;
  height: 218.73px;
  position: absolute;
  left: 236px;
  top: 992px;
}
.asistencia-medica-con-un-chatbot {
  color: #000000;
  text-align: center;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 8px;
  top: 1021px;
  width: 203px;
  height: 111px;
}
.asignaci-n-de-tareas-inteligente {
  color: #000000;
  text-align: center;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 456px;
  top: 1020px;
  width: 203px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recomendaciones-personalizadas {
  color: #000000;
  text-align: center;
  font: 400 30px "Inter", sans-serif;
  position: absolute;
  left: 180px;
  top: 1211px;
  width: 275px;
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen-de-whats-app-2023-09-24-a-las-17-29-1 {
  width: 628px;
  height: 413px;
  position: absolute;
  left: 25px;
  top: 1414px;
}
.somos-una-peque-a-startup-con-grandes-ambiciones-surgimos-debido-a-una-necesidad-y-estamos-aqu-para-volverla-una-mejor-realidad-laboral-para-quienes-pronto-ingresar-n-a-ese-mundo {
  color: #000000;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 42px;
  top: 1837px;
  width: 594px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nuestra-aplicaci-n-permite-llevar-a-otro-nivel-la-portabilidad-de-nuestros-servicios-disponible-en-app-store-y-google-play {
  color: #000000;
  text-align: left;
  font: 300 20px "Inter", sans-serif;
  position: absolute;
  left: 230px;
  top: 2057px;
  width: 248px;
  height: 152px;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 110px;
  height: 0px;
  position: absolute;
  left: 35px;
  top: 2770px;
}
.line-5 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 52px;
  height: 0px;
  position: absolute;
  left: 550px;
  top: 2770px;
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  left: 353px;
  top: 2777px;
}
.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 77px;
  height: 0px;
  position: absolute;
  left: 208px;
  top: 2770px;
}
.rectangle-10 {
  background: #4ecca3;
  border-radius: 30px;
  width: 473px;
  height: 263px;
  position: absolute;
  left: 99px;
  top: 2400px;
}
.group-12 {
  width: 473px;
  height: 61px;
  position: static;
}
.group-13 {
  width: 291px;
  height: 52px;
  position: static;
}
.group-14 {
  width: 395.76px;
  height: 153.95px;
  position: static;
}
.carta-logo {
  width: 628px;
  height: 413px;
  position: absolute;
  left: 25px;
  top: 1414px;
}
.line-6 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 110px;
  height: 0px;
  position: absolute;
  left: 35px;
  top: 2770px;
}
.line-7 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 52px;
  height: 0px;
  position: absolute;
  left: 550px;
  top: 2770px;
}
.line-8 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  left: 353px;
  top: 2777px;
}
.line-9 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 77px;
  height: 0px;
  position: absolute;
  left: 208px;
  top: 2770px;
}
